.card {
    width: 100px;
    height: 140px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
    position: absolute;
	border: 1px solid black;
}

.face-up-card {
	background-color: white;
}

.face-down-card {
	background-color: blue;
}

.selected-card {
	border: 2px solid yellow;
}

.dragging-source {
    opacity: 0;
}

.card-placeholder {
	border: 1px solid black;
	width: 100px;
	height: 140px;
	border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.suit-top-left {
    font-size: 24px;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
}

.rank-top-right {
    font-size: 24px;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: start;
}

.rank-bottom-left {
    font-size: 24px;
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: end;
}

.suit-bottom-right {
    font-size: 24px;
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
}
