body {
    background-color: #f0f0f0;
}

#game-board {
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    background-color: green;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
}

.hand-0 {
    grid-row: 2;
    grid-column: 4 / span 2;
}
