.top-row {
	grid-row: 1;
	grid-column: 1 / span 7;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.tableau-row {
	grid-row: 2;
	grid-column: 1 / span 7;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.pile {
	position: relative;
}

.win-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
	color: white;
}

.card-placeholder {
	border: 1px solid black;
}

.selected-card {
	border: 2px solid yellow;
}

.face-down-card {
	background-color: blue;
}
