body {
	background-color: green;
}

.top-row {
	grid-row: 1;
	grid-column: 1 / span 7;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.tableau-row {
	grid-row: 2;
	grid-column: 1 / span 7;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-top: 20px;
}

.pile {
	position: relative;
	z-index: 1;
	height: 140px;
}

.win-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 5em;
	color: white;
}

.card-placeholder {
	border: 1px solid black;
	width: 100px;
	height: 140px;
	border-radius: 5px;
}

.selected-card {
	border: 2px solid yellow;
}

.face-down-card {
	background-color: blue;
}

.card {
    width: 100px;
    height: 140px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
    position: relative;
	border: 1px solid black;
}

.face-up-card {
	background-color: white;
}

.suit-top-left {
    font-size: 24px;
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    align-self: start;
}

.rank-top-right {
    font-size: 24px;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    align-self: start;
}

.rank-bottom-left {
    font-size: 24px;
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: end;
}

.suit-bottom-right {
    font-size: 24px;
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self: end;
}
