html {
    background-color: black;
    font-family: Verdana;
    font-size: 11pt;
}

h1 {
    background-color: #ccc;
    border: 1px solid white;
    margin: 0px;
    font-size: 12pt;
}

#right-panel {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 33%;
    background-color: #666;
    border: 1px solid white;
    padding: 0px;
}

#settings {
    padding: 5px;
}

#settings label {
    color: white;
}

#data {
    padding: 5px;
}

#map-contents {
    border-style: none;
}

#data-contents {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-top-width: 0px;
    color: white;
    font-family: Courier;
}

#data-contents a:visited {
    color: cyan;
}

#data-contents a:link {
    color: DeepSkyBlue;
}

#data-contents a:hover {
    color: black;
    background-color: yellow;
}

#map text {
    stroke: none;
    stroke-width: .5px;
    font-family: Verdana;
    pointer-events: none;
    fill: cyan;
}

text.map-coord,text.map-coord-link {
    font-size: 60%;
    text-anchor: middle;
}

text.map-name,text.map-name-link {
    font-size: 80%;
    text-anchor: middle;
}

text.map-name-link,text.map-coord-link {
    text-decoration: underline;
}

path.map-mesh {
    stroke: darkmagenta;
    fill: none;
}

path.map-hexagon {
    stroke: none;
    fill: none;
    pointer-events: all;
}

path.map-hexagon-hilite {
    stroke: yellow;
    stroke-width: 4px;
}

.map-planet,.map-planet-link {
    fill: cyan;
    pointer-events: none;
}

path.spiny-rat {
    stroke: #08f;
    fill: #08f;
}

path.spiny-rat-hilite {
    stroke: yellow;
    fill: yellow;
}

path.spiny-rat-wide {
    visibility: hidden;
    pointer-events: all;
    stroke: #08f;
    stroke-width: 10px;
}